//
// VARIABLES / COLORS
// ----------------------------------------------


$color-bg-body: hsl(257, 40%, 49%);
$color-register: hsl(257, 40%, 49%);
$color-hover: hsl(300, 69%, 71%);
$color-text: #fff;

//
// FONTS
// ----------------------------------------------

$font-size-base: 100%;
$font-heading: 'Poppins', sans-serif;
$font-parapraphs: 'Open Sans', sans-serif;